@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@900&family=Roboto+Condensed:wght@300;400&display=swap');
@font-face{
    font-family: 'gshock';
    src: url(Font.ttf);
}
/* global shtuff */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
    outline: 0;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}
:root{
    --bg-color:#ffffff;
    --second-bg-color:#f8f8f8;
    --main-color:#000000;
    --gshock-font:'gshock';
    --title-font:'raleway';
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--main-color);
    }
section{
    min-height: 100vh;
    padding: 9rem 9% 3rem;
}
/* navbar start */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    color: var(--bg-color);
    font-family: var(--gshock-font);
    font-size: 2rem;
    cursor: default;
    margin: -1rem 0;
    letter-spacing: .1rem;
}
.navbar a{
    letter-spacing: .1rem;
    position: relative;
    font-size: 1.7rem;
    color: var(--bg-color);
    margin-left: 4rem;
    transition: 0.4s;
}
.navbar a:after{
    content: "";
    position: absolute;
    background-color: var(--bg-color);
    height: .2rem;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}
.navbar a:hover:after,
.navbar a.active{
    width: 100%;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--bg-color);
    display: none;
}
/* navbar end */

/* home start */
.home-bg{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.home-bg video{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home-bg::before{
    content:'';
    position:absolute;
    height:100%;
    width:100%;
    background: rgba(0, 0, 0, 0.4);
}
.home-content{
    width: 100%;
    position: absolute;
    top:52%;
    left: 50%;
    padding: 0 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}
.home-content .title{
    text-align: center;
    font-weight: 100;
    font-family: var(--gshock-font);
    color: var(--bg-color);
    font-size: 10rem;
    letter-spacing: 1rem;
    margin-right: -1rem;
}
.home-content .subtitle{
    color: var(--bg-color);
    font-family: var(--title-font);
    font-size: 3.5rem;
    letter-spacing: 10rem;
    margin-right: -10rem;
    font-weight: 100;
}
/* home end */

/* about start */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.about-img img{
    width: 22vw;
}
.about-content{
    margin-bottom: 4rem;
}
.about .heading{
    margin-bottom: 0rem;
}
.heading{
    font-size: 5rem;
    font-family: 'raleway';
    text-align: center;
    margin-bottom: 5rem;
}
.about-content h2{
    text-align: left;
}
.about-content p{
    font-size: 1.6rem;
    text-align: justify;
    margin: 2rem 0 3rem;
}
.btn{
    color: var(--main-color);
    text-align: center;
    padding: 1rem 2rem;
    font-size: 2.2rem;
    border: solid black .2rem;
    border-radius: .2rem;
    display: inline-block;
    letter-spacing: .3rem;
    transition: .5s;
}
.btn:hover{
    color: var(--bg-color);
    background: var(--main-color);
    transform: scale(1.1);
}
/* about end */

/* models start */
.models{
    background: var(--second-bg-color);
}
.models-box h2{
    margin-bottom: 5rem;
}
.models-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.models-container .models-box{
    flex: 1 1 30rem;
    background: var(--second-bg-color);
    padding: 3rem 2rem 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    transition: .5s;
}
.models-container .models-box:hover{
    border: .2rem solid var(--main-color);
    transform: scale(1.02);
}
.models-box i{
    font-size: 7rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}
.models-box h6{
    font-size: 2.6rem;
}
.models-box p{
    font-size: 1.6rem;
    margin: 1rem 0.3rem;
}
.models-box img{
    height: 70%;
    justify-content: center;
    align-items: center;
    width: 70%;
}
/* models end */

/* services start */
.services-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    margin-top: -4rem;
}
.services-box{
    text-align: justify;
    padding: 20px 30px;
}
.services-box i{
    font-size: 10rem;
    color: var(--main-color);
}
.services-box h6{
    font-size: 2rem;
    color: var(--main-color);
    margin: 4px 0 10px;
}
.services-box p{
    font-size: 1.3rem;
}
/* services end */

/* contact start */
.contact{
    background: var(--second-bg-color);
}
.contact h2{
    margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
/* contact end */

/* footer start */
.main{
    display: flex;
    flex-wrap: wrap;
}
.footer{
    padding: 10px 0;
}
.col{
    width: 25%;
}
.col h4{
    font-size: 3.2rem;
    color: var(--text-color);
    margin-bottom: 25px;
    position: relative;
}
.col h4:before{
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    left: 0;
    bottom: -8px;
    background: var(--main-color);
}
.col ul li:not(:last-child){
    margin-bottom:10px;
}
.col ul li a{
    color: #737281;
    font-size: 2.1rem;
    display: block;
    text-transform: capitalize;
    transition: .5s;
}
.col ul li a:hover{
    columns: var(--text-color);
    transform: translateX(-12px);
}
.col .social{
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.col .social a{
    height: 40px;
    width: 40px;
    background:var(--main-color);
    color: var(--bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    border-radius: 50%;
    transition: .4s;
}
.col .social a:hover{
    transform: scale(1.2);
    color: var(--main-color);
    background: var(--bg-color);
}
/* footer end */

/* BREAKPOINT */
@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}
@media (max-width: 991px) {
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }
    .models{
        padding-bottom: 7rem;
    }
    .services{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
}
@media (max-width: 768px) {
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--main-color);
        border-top:.1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        display: block;
        font-size: rem;
        margin: 3rem 0;
    }
    .home-content .subtitle{
        font-size: 2.1rem;
    }
    .home-content .title{
        font-size: 9rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-img img{
        margin-top: 4rem;
        width: 50vw;
    }
    .services-box h6{
        margin-bottom: 3rem;
    }
    .models-box h6{
        margin-bottom: 3rem;
    }
    .services-container{
        grid-template-columns: repeat(2,1fr);
    }
    .col{
        width: 23%;
    }
}
@media (max-width: 617px) {
    .services-container{
        grid-template-columns: 1fr;
    }
    .home-content .title{
        font-size: 8rem;
    }
    .home-content .subtitle{
        letter-spacing: 9rem;
        margin-right: -9rem;
    }

}
@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .contact form .inpu-box input{
        width: 100%;
    }
    .home-content .title{
        font-size: 7rem;
    }
    .home-content .subtitle{
        letter-spacing: 7.5rem;
        margin-right: -7.5rem;
    }
}
@media (max-width: 365px){
    .home .title{
        font-size: 6rem;
    }
    .home .subtitle{
        letter-spacing: 6.5rem;
        margin-right: -6.5rem;
    }
    .footer{
        flex-direction: column-reverse;
    }
    .footer p{
        text-align: center;
        margin-top: 2rem;
    }
}